@import "tailwindcss";

@theme {
  --font-amiri: var(--font-amiri);
  --font-scheherazade: var(--font-scheherazade);
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #0f172a;
}
